[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal Emulator
Comment=Use the command line
Exec=term
Icon=org.xfce.terminalemulator
Path=
Terminal=false
StartupNotify=true
